extends layout

block main-content
  .page-title-container
    h1.page-title Hello! Here's a list of your pledged stocks and cryptocurrency
    h1.page-subtitle Loan Value: $10,000 USD

  .stock
    h2.section-title Pledged Stocks List
    table.table
      thead
        tr
          th Stock Name
          th Quantity
      tbody
        each stock in stockList
          tr
            td= stock.name
            td= stock.qty

  .crypto
    h2.section-title Pledged Crypto-currency List
    table.table
      thead
        tr
          th Crypto Name
          th Quantity
      tbody
        each crypto in cryptoList
          tr
            td= crypto.name
            td= crypto.qty

  .summary
    h3.summary-title Total Value of Pledged Assets: $#{totalPledge}
    p.summary-text(class=totalPledge < 10000 ? 'margin-shortfall' : 'margin-sufficient')
      | Current pledge value is #{totalPledge < 10000 ? 'less than' : 'more than'} total value.
      = totalPledge < 10000 ? `Margin Shortfall is $${marginShortfall}` : 'No action required.'

  p.refresh-text Try refreshing again to get the right prices. Sometimes there are bad API calls.
