extends layout 


block main-content 

  


  h1.page-title Hello! Here's a list of your pledged stocks and cryptocurrency
  h1.page-title Loan Value is 10000 USD
  .stock 
  h2 Pledged Stocks List

  
  table
      thead
        tr
          th Stock Name
          th Quantity
      tbody
        each stock in stockList
          tr
            td= stock.name
            td= stock.qty
  .crypto 
  h3 Daily Total value of Pledged Stocks :  #{total}

  h2 Pledged Crypto-currency List

  
  table
      thead
        tr
          th Crypto Name
          th Quantity
      tbody
        each crypto in cryptoList
          tr
            td=crypto.name
            td= crypto.qty
  h3 Daily Total value of Pledged CryptoCurrency : #{cryptoTotal}
  
  h3 Total Value of Pledged Assets : #{totalPledge}
 
  if (totalPledge)< 10000
     p Current pledge value is less than total value. Margin Shortfall is #{marginShortfall}
  
  else
     p Current pledge value is more than total value. No action required.
  
  p Try refreshing again to get the right prices. Sometimes there are bad API calls.

  //- p #{availableCryptos}
  //- p crypto total #{cryptoTotal}
 
  